<form method="post" action="{{ path('app_pengambilan_delete', {'id': pengambilan.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pengambilan.id) }}">
    <button class="btn">Delete</button>
</form>
